fastapi
uvicorn
pydantic
pydantic-settings

supabase
postgrest
storage3

python-dotenv
python-multipart
passlib

requests
openai

numpy
pandas

opencv-python-headless

httpx
PyJWT
Pillow

beautifulsoup4==4.12.2
apscheduler==3.10.4
lxml==6.0.2
httpx